<ul>
    {% for section in sections %}
        {% set section_info = section[0] %}
        {% set mods = section[1] %}
        {% set is_current_section = section[2] %}
        <li>
            {% if is_current_section %}
                <strong>{{ section_info.name }}</strong>
            {% else %}
                <a href="{{ wwwroot }}/course/view.php?id={{ courseid }}&section={{ section_info.section }}" title="{{ section_info.name }}">{{ section_info.name }}</a>
            {% endif %}
            <ul>
                {% for mod in mods %}
                    {% set cm_info = mod[0] %}
                    {% set is_current_mod = mod[1] %}
                    <li>
                        {% if is_current_mod %}
                            <strong>{{ cm_info.name }}</strong>
                        {% else %}
                            <a href="{{ wwwroot }}/mod/{{ cm_info.modname }}/view.php?id={{ cm_info.id }}" title="{{ cm_info.name }}">{{ cm_info.name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
